@media only screen and (max-width: 400px) {
    body {
        font-size: 10px;
    }

    .button {
        font-size: 10px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 15px;
    }

    .button {
        font-size: 15px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        font-size: 17px;
    }

    .button {
        font-size: 17px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        font-size: 19px;
    }

    .button {
        font-size: 19px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        font-size: 21px;
    }

    .button {
        font-size: 21px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 23px;
    }

    .button {
        font-size: 23px;
    }
}

@media only screen and (min-width: 1900px) {
    body {
        font-size: 25px;
    }

    .button {
        font-size: 25px;
    }
}

body {
    width: 100%;
    margin: 0px;
    font-family: sans-serif;
}

.main {
    /* background-image: url(resources/landscape.jpg); */
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* max-height: 100vh; */
    /* background-color:red; */
}

td {
    /* margin: 10px; */
    /* border:1px solid #adadad; */
    /* padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px; */
    /* padding:10px; */
    /* background-color: lightgreen; */
    text-align: center;
}

table {
    /* font-size:20px; */
    font-family: 'Roboto Mono', monospace;
    /* margin:0px; */
    /* padding:0px; */
    background-color: rgb(241, 173, 84);
    /* background-color: darkorange; */
    width: 100vw;
    height: 5vh;
}

tr {
    /* background-color:lightgreen; */
    /* margin:10px; */
}

a {
    text-decoration: none;
}

.image-div {
    width: 100vw;
    /* height:95vh; */
    padding: 0px;
    margin: 0px;
    background-color: red;
    text-align: center;
    /* background-image: url(landscape.jpg); */
    background: linear-gradient(rgba(73, 72, 72, 0.5), rgba(73, 72, 72, 0.5)), url(landscape1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 95vh;
    /* word-break: break-all; */

}

.intro-top {
    margin: 0px;
    padding: 0px;
    padding-top: 8vh;
    color: white;
    font-family: 'Inter';
}

.intro-mid {
    color: rgb(230, 221, 185);
    margin-right: 8vw;
    margin-left: 8vw;
    margin-top: 8vh;
    font-family: 'Inter';
    /* max-height:40vh; */
}

.intro-end {
    color: rgb(231, 220, 174);
    /* vertical-align: bottom; */
    margin-top: 4vh;
    /* max-height:10vh; */
    word-break: break-all;
}

.button {
    margin-top: 2vh;
    font-family: monospace;
    /* background-color:s; */
}


/* .wrapper {
    position: relative;
}

.clearfix:before,
.clearfix:after {
    clear: both;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
} */