@media only screen and (max-width: 400px) {
    body {
        font-size: 6px;
    }

    .button {
        font-size: 6px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 8px;
    }

    .button {
        font-size: 8px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        font-size: 10px;
    }

    .button {
        font-size: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        font-size: 12px;
    }

    .button {
        font-size: 12px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        font-size: 14px;
    }

    .button {
        font-size: 14px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 16px;
    }

    .button {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1900px) {
    body {
        font-size: 18px;
    }

    .button {
        font-size: 18px;
    }
}

body {
    width: 100%;
    margin: 0px;
    font-family: sans-serif;
}

.main {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

td {
    text-align: center;
}

table {
    font-family: 'Roboto Mono', monospace;
    background-color: orange;
    width: 100vw;
    height: 5vh;
}

a {
    text-decoration: none;
}

.image-div {
    width: 100vw;
    padding: 0px;
    margin: 0px;
    text-align: center;
    background: linear-gradient(rgba(73, 72, 72, 0.5), rgba(73, 72, 72, 0.5)), url(landscape1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 95vh;

}

.intro-top {
    margin: 0px;
    padding: 0px;
    padding-top: 8vh;
    color: white;
    font-family: 'Inter';
}

.intro-mid {
    /* color: rgb(230, 221, 185); */
    color: white;
    margin-right: 8vw;
    margin-left: 8vw;
    margin-top: 8vh;
    font-family: 'Inter';
}

.intro-end {
    /* color: rgb(231, 220, 174); */
    color: white;
    margin-top: 4vh;
    word-break: break-all;
}

.button {
    margin-top: 2vh;
    font-family: monospace;

}